name: Solidity CI

on:
  push:
    branches: [ main, develop ]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Solidity Lint
        run: npx solhint "contracts/**/*.sol"

      - name: Compile
        run: npx hardhat compile

      - name: Test
        run: npx hardhat test
